// -------------- FOOTER
footer.e-wp.e-rell.e-hvh.e-flex
    nav.e-flex
        a.link-menu-desk(href="/views/home.html") Home
        a.link-menu-desk(href="/views/about.html") About
        a.link-menu-desk(href="/views/page.html") Inner
        a.link-menu-desk(href="/views/contact.html") Contact