
nav.e-flex.e-fixed
    a.link-menu-desk(href="/views/home.html") Home
    a.link-menu-desk(href="/views/about.html") About
    a.link-menu-desk(href="/views/page.html") Inner
    a.link-menu-desk(href="/views/contact.html") Contact