doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#000000")
        block title
    body
        include ./includes/mymenu.pug
        #barba-wrapper.e-wvw.e-rel(data-barba="wrapper", data-scroll)
            block content

