extends ../index
block title
    title About Page

block content
    .barba-container.page-about.e-wp(data-barba="container", data-barba-namespace="about", data-scroll-content)
        header.box-img-header.e-wvw.e-hvh.e-hiiden.e-flex.e-rel
            img.img-header.e-wp.e-hp.e-img-fit.e-abs(src="../images/ginger2.webp")
            h1.h1-header.e-abs About
        


        main.main-home





        //- =========================  FOOTER  ========================= -//
        //- =========================  FOOTER  ========================= -//
        include ../includes/myfooter.pug