extends ../index
block title
    title Contact

block content
    .barba-container.page-contact.e-wp(data-barba="container", data-barba-namespace="contact" data-scroll-content)
        header.box-img-header.e-wvw.e-hvh.e-hiiden.e-flex.e-rel
            img.img-header.e-wp.e-hp.e-img-fit.e-abs(src="../images/ginger4.webp")
            h1.h1-header.e-abs Contact Page



        main.main-home





        //- =========================  FOOTER  ========================= -//
        //- =========================  FOOTER  ========================= -//
        include ../includes/myfooter.pug