extends ../index
block title
    title Home Page

block content
    .barba-container.page-home.e-wp(data-barba="container", data-barba-namespace="home" data-scroll-content)
        header.box-img-header.e-wvw.e-hvh.e-hiiden.e-flex.e-rel
            img.img-header.e-wp.e-hp.e-img-fit.e-abs(src="../images/ginger1.webp")
            h1.h1-header.e-abs HOME PAGE 
    


        main.main-home





        //- =========================  FOOTER  ========================= -//
        //- =========================  FOOTER  ========================= -//
        include ../includes/myfooter.pug
