extends ../index
block title
    title Page Inner

block content
    .barba-container.page-page.e-wp(data-barba="container", data-barba-namespace="page" data-scroll-content)
        header.box-img-header.e-wvw.e-hvh.e-hiiden.e-flex.e-rel
            img.img-header.e-wp.e-hp.e-img-fit.e-abs(src="../images/ginger3.webp")
            h1.h1-header.e-abs PAGINA INTERNA
        


        //- =========================  FOOTER  ========================= -//
        //- =========================  FOOTER  ========================= -//
        include ../includes/myfooter.pug